@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';

.create-meeting {
  label.col-form-label {
    padding-right: 1rem;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  .rdp-months {
    justify-content: center;

    @include media-breakpoint-up(sm) {
      justify-content: start;
    }
  }
}
