@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

.DayTitle {
	@include clearfix();
	margin-top: .5rem;
	padding: .25rem .25rem .25rem 0;
	background-color: $gray-lighter;

	.DayVisibilitySelector {
		position: absolute;
		top: 0;
		left: .3rem;
	}
	> span {
		padding: .425rem 0;
	}
	> span.whole-day {
		@include make-col(2, 12);
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
	}
	> .AttendanceSelector {
		@include make-col(2, 12);
		text-align: center;
	}
	> span.day {
		@include make-col(6, 12);
		text-align: center;
		font-weight: bold;
	}
}
