$brand-warning: #f0da48;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/alert';

.view-meeting {
	text-align: center;
	position: relative;

	label.col-form-label {
		padding-right: 1rem;
		text-align: right;
	}

	> div {
		text-align: left;
	}
	.fa-spin {
		margin-top: 1rem;
		animation-duration: .5s;
	}

	.alert-dismissible .close {
		top: 0;
	}
}
