@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.Participants {
	vertical-align: bottom;

	p {
		text-align: right;
		margin-bottom: 0;
		padding: 6px 0;
	}
	.title, .attendance {
		position: absolute;
		left: 0;
		top: auto;
	}
	.title {
		width: 7rem;

		@include media-breakpoint-up(lg) {
			width: 11rem;
		}
	}
	.attendance {
		width: 8rem;
		margin-left: 7rem;
		padding: 0 .25rem 0 .5rem;

		@include media-breakpoint-up(lg) {
			width: 12rem;
			margin-left: 11rem;
			padding: 0 1rem;
		}
	}
}
