@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.test-table {
	.participant {
		> span {
			writing-mode: vertical-lr;
		}
	}

	.attendance-column {
		display: inline-block;
	}
}

.meeting-table {
	th, td {
		font-weight: normal;
		white-space: nowrap;
		text-align: center;
		height: 50px;
	}
}
