@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

input.NewParticipant {
	font-size: .9rem;
	text-align: center;
}

.error-no-name input.NewParticipant {
	border: 2px solid $danger;
}
