@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

input.NewParticipant {
	font-size: .9rem;
	text-align: center;
}

.error-no-name input.NewParticipant {
	border: 2px solid $brand-danger;
}
