@use 'sass:math';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/buttons';

.HowItWorks {
  $image-widths: (
          sm: 510px,
          md: 690px,
          lg: 930px,
          xl: 1110px
  ) !default;

  @include media-breakpoint-only(xs) {
    h1 {
      font-size: 1.5rem;
    }
  }

  .how-to-create {
    $image-width: 330px;
    $image-height: 261px;
    position: relative;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
    background: url('./assets/base.png') no-repeat;
    background-size: 140% auto;
    min-width: $image-width;
    min-height: $image-height;
    width: $image-width;
    height: $image-height;
    margin: 0 auto 60px;
    max-width: 100%;

    @each $breakpoint, $image-width in $image-widths {
      @include media-breakpoint-up($breakpoint) {
        width: $image-width;
        height: math.div(629, 1110)*$image-width;
      }
    }
    @include media-breakpoint-only(sm) {
      background-size: 130% auto;
      height: math.div(629*1.3, 1110)*map_get($image-widths, sm);
    }
    @include media-breakpoint-up(md) {
      background-size: 100% auto;
    }

    > .curtain {
      background-color: rgba(0, 0, 0, .3);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 300ms;
    }

    > .buttons {
      position: absolute;
      bottom: -40px;
      right: 0;
    }

    $transition-time: 700ms;

    > .magnifier {
      position: absolute;
      overflow: hidden;
      background: url('./assets/full.png') -116px -53px; // Position for first step
      background-size: 275% auto;
      border: 8px solid white;
      border-radius: 20px;
      box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
      z-index: 10;
      opacity: 0;
      transition: left $transition-time, top $transition-time, width $transition-time, height $transition-time,
      background-position $transition-time, background-size $transition-time, opacity 700ms;

      @include media-breakpoint-up(sm) {
        background-size: 250% auto;
        background-position: -131px -60px;
      }
      @include media-breakpoint-up(md) {
        background-position: -231px -105px;
      }
      @include media-breakpoint-up(lg) {
        background-size: initial;
        background-position: -225px -98px;
      }

      > div {
        opacity: 0;
      }
    }

    > .caption > div {
      padding: 12px 10px 12px 42px;
      position: absolute;
      color: #fff;
      background: rgba(18, 49, 60, .8);
      font-size: 0.85rem;
      border-radius: 20px;
      overflow: hidden;
      opacity: 0;
      transition: left $transition-time, top $transition-time, width 500ms, height 500ms, opacity 300ms;

      @include media-breakpoint-up(sm) {
        font-size: inherit;
        padding-left: 48px;
      }
      @include media-breakpoint-up(xl) {
        padding: 12px 18px 12px 50px;
      }

      > span {
        color: #fff;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        background-color: #f3783c;
        font-size: 1.15rem;
        float: left;
        margin: -2px 8px 0 -32px;

        @include media-breakpoint-up(sm) {
          height: 30px;
          width: 30px;
          font-size: 1.25rem;
          margin-left: -38px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 10px;
        }
      }

      // Base positions for animations
      &.meeting-name {
        top: 125px;
        left: 65px;

        @include media-breakpoint-up(sm) {
          left: 140px;
        }
        @include media-breakpoint-up(md) {
          top: 54px;
          left: 425px;
        }
        @include media-breakpoint-up(lg) {
          top: 83px;
          left: 620px;
        }
        @include media-breakpoint-up(xl) {
          top: 103px;
          left: 730px;
        }
      }

      &.meeting-days {
        top: -20px;
        left: 5px;

        @include media-breakpoint-up(sm) {
          top: 8px;
          left: 50px;
        }
        @include media-breakpoint-up(md) {
          top: 180px;
          left: 470px;
        }
        @include media-breakpoint-up(lg) {
          top: 250px;
          left: 700px;
        }
        @include media-breakpoint-up(xl) {
          top: 286px;
          left: 780px;
        }
      }

      &.meeting-resolution {
        top: 136px;
        left: -20px;

        @include media-breakpoint-up(sm) {
          top: 190px;
          left: 25px;
        }
        @include media-breakpoint-up(md) {
          top: 215px;
          left: 35px;
        }
        @include media-breakpoint-up(lg) {
          top: 422px;
          left: 580px;
        }
        @include media-breakpoint-up(xl) {
          top: 425px;
          left: 760px;
        }
      }

      &.meeting-schedule {
        top: 90px;
        left: 35px;

        @include media-breakpoint-up(sm) {
          top: 173px;
          left: 85px;
        }
        @include media-breakpoint-up(md) {
          top: 236px;
          left: 510px;
        }
        @include media-breakpoint-up(lg) {
          top: 355px;
          left: 605px;
        }
        @include media-breakpoint-up(xl) {
          top: 401px;
          left: 855px;
        }
      }

      &.create-meeting {
        top: 165px;
        left: -25px;

        @include media-breakpoint-up(sm) {
          top: 238px;
          left: 65px;
        }
        @include media-breakpoint-up(md) {
          top: 253px;
          left: 155px;
        }
        @include media-breakpoint-up(lg) {
          top: 388px;
          left: 275px;
        }
        @include media-breakpoint-up(xl) {
          top: 552px;
          left: 325px;
        }
      }
    }

    &%step-visible {
      .curtain {
        opacity: 1;
      }

      .magnifier {
        opacity: 1;
      }

      .caption {
        opacity: 1;
      }
    }

    &.step-1 { // meeting-name
      @extend %step-visible;

      > .magnifier {
        width: 320px;
        height: 46px;
        top: 32px;
        left: 5px;
        background-position: -116px -53px;

        @include media-breakpoint-up(sm) {
          top: 38px;
          left: 50px;
          width: 410px;
          height: 52px;
          background-position: -131px -60px;
        }
        @include media-breakpoint-up(md) {
          top: 52px;
          left: 40px;
        }
        @include media-breakpoint-up(lg) {
          top: 73px;
          width: 600px;
          height: 68px;
          background-position: -225px -98px;
        }
        @include media-breakpoint-up(xl) {
          top: 93px;
          left: 100px;
          width: 650px;
        }
      }

      > .caption > div.meeting-name {
        opacity: 1;
        top: 84px;
        left: 65px;
        width: 200px;
        height: 44px;

        @include media-breakpoint-up(sm) {
          top: 95px;
          left: 140px;
          width: 230px;
          height: 50px;
        }
        @include media-breakpoint-up(md) {
          top: 54px;
          left: 455px;
        }
        @include media-breakpoint-up(lg) {
          top: 83px;
          left: 650px;
        }
        @include media-breakpoint-up(xl) {
          top: 103px;
          left: 760px;
          width: 300px;
        }
      }
    }

    &.step-2 { // meeting-days
      @extend %step-visible;

      > .magnifier {
        width: 320px;
        height: 160px;
        top: 65px;
        left: 5px;
        background-position: -117px -105px;

        @include media-breakpoint-up(sm) {
          top: 93px;
          left: 50px;
          width: 410px;
          height: 184px;
          background-position: -137px -123px;
        }
        @include media-breakpoint-up(md) {
          top: 100px;
        }
        @include media-breakpoint-up(lg) {
          top: 140px;
          width: 611px;
          height: 280px;
          background-position: -228px -191px;
        }
        @include media-breakpoint-up(xl) {
          top: 150px;
          left: 120px;
          height: 338px;
        }
      }

      > .caption > div.meeting-days {
        opacity: 1;
        top: 6px;
        left: 5px;
        width: 320px;
        height: 54px;

        @include media-breakpoint-up(sm) {
          top: 38px;
          left: 50px;
          width: 410px;
          height: 50px;
        }
        @include media-breakpoint-up(md) {
          top: 150px;
          left: 470px;
          width: 195px;
          height: 90px;

          > span {
            margin-top: 17px;
          }
        }
        @include media-breakpoint-up(lg) {
          top: 250px;
          left: 670px;
          width: 250px;
          height: 70px;

          > span {
            margin-top: 8px;
          }
        }
        @include media-breakpoint-up(xl) {
          top: 286px;
          left: 750px;
          width: 280px;
          height: 70px;
        }
      }
    }

    &.step-3 { // meeting-resolution
      @extend %step-visible;

      > .magnifier {
        width: 320px;
        height: 40px;
        top: 200px;
        left: 5px;
        background-position: -161px -336px;

        @include media-breakpoint-up(sm) {
          top: 270px;
          left: 50px;
          width: 410px;
          height: 53px;
          background-position: -181px -392px;
        }
        @include media-breakpoint-up(md) {
          top: 285px;
          left: 60px;
        }
        @include media-breakpoint-up(lg) {
          top: 390px;
          left: 60px;
          width: 510px;
          height: 68px;
          background-position: -231px -616px;
        }
        @include media-breakpoint-up(xl) {
          width: 620px;
          top: 471px;
          left: 130px;
        }
      }

      > .caption > div.meeting-resolution {
        opacity: 1;
        top: 136px;
        left: 5px;
        width: 320px;
        height: 58px;

        > span {
          margin-top: 5px;
        }

        @include media-breakpoint-up(sm) {
          top: 200px;
          left: 55px;
          width: 400px;
          height: 65px;

          > span {
            margin-top: 7px;
          }
        }
        @include media-breakpoint-up(md) {
          top: 215px;
          left: 65px;
        }
        @include media-breakpoint-up(lg) {
          top: 392px;
          left: 580px;
          width: 320px;
        }
        @include media-breakpoint-up(xl) {
          top: 455px;
          left: 760px;
          width: 300px;
          height: 100px;

          > span {
            margin-top: 22px;
          }
        }
      }
    }

    &.step-4 { // meeting-days
      @extend %step-visible;

      > .magnifier {
        width: 320px;
        height: 81px;
        top: 165px;
        left: 5px;
        background-position: -110px -442px;
        background-size: 250% auto;

        @include media-breakpoint-up(sm) {
          top: 245px;
          left: 55px;
          width: 410px;
          height: 100px;
          background-position: -140px -474px;
        }
        @include media-breakpoint-up(md) {
          top: 260px;
          left: 55px;
        }
        @include media-breakpoint-up(lg) {
          top: 305px;
          left: 55px;
          width: 510px;
          height: 186px;
          background-position: -170px -656px;
        }
        @include media-breakpoint-up(xl) {
          width: 740px;
          height: 235px;
          top: 343px;
          left: 70px;
          background-size: 225% auto;
          background-position: -228px -784px;
        }
      }

      > .caption > div.meeting-schedule {
        opacity: 1;
        top: 90px;
        left: 5px;
        width: 320px;
        height: 72px;

        > span {
          margin-top: 14px;
        }

        @include media-breakpoint-up(sm) {
          top: 173px;
          left: 55px;
          width: 410px;
          height: 68px;
        }
        @include media-breakpoint-up(md) {
          top: 236px;
          left: 480px;
          width: 200px;
          height: 147px;

          > span {
            margin-top: 49px;
          }
        }
        @include media-breakpoint-up(lg) {
          top: 355px;
          left: 575px;
          width: 340px;
          height: 85px;

          > span {
            margin-top: 18px;
          }
        }
        @include media-breakpoint-up(xl) {
          top: 402px;
          left: 825px;
          width: 275px;
          height: 117px;

          > span {
            margin-top: 32px;
          }
        }
      }
    }

    &.step-5 { // create-meeting
      @extend %step-visible;

      > .magnifier {
        width: 300px;
        height: 43px;
        top: 215px;
        left: 15px;
        background-position: -290px -1239px;
        background-size: 305% auto;

        @include media-breakpoint-up(sm) {
          top: 322px;
          left: 85px;
          width: 340px;
          height: 50px;
          background-position: -325px -689px;
        }
        @include media-breakpoint-up(md) {
          top: 338px;
          left: 175px;
        }
        @include media-breakpoint-up(lg) {
          top: 473px;
          left: 295px;
        }
        @include media-breakpoint-up(xl) {
          width: 400px;
          height: 64px;
          top: 562px;
          left: 350px;
          background-size: initial;
          background-position: -578px -1080px;
        }
      }

      > .caption > div.create-meeting {
        opacity: 1;
        top: 165px;
        left: 5px;
        width: 320px;
        height: 44px;

        @include media-breakpoint-up(sm) {
          top: 268px;
          left: 65px;
          width: 380px;
          height: 50px;
        }
        @include media-breakpoint-up(md) {
          top: 283px;
          left: 155px;
        }
        @include media-breakpoint-up(lg) {
          top: 418px;
          left: 275px;
        }
        @include media-breakpoint-up(xl) {
          top: 507px;
          left: 325px;
          width: 450px;
          height: 50px;
        }
      }
    }
  }
}
