@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

.ParticipantAttendance {
	float: left;
	width: 3rem;
	text-align: center;
	padding: 5px 0;

	@include media-breakpoint-up(lg) {
		@include make-col(1, 12);
		padding: 5px .25rem;

		.more-than-8 & {
			width: 3rem;
		}
	}

	.fa {
		font-size: 1.5rem;
	}
	.fa-check {
		color: $brand-success;
	}
	.fa-question {
		color: $brand-warning;
	}
	.fa-times {
		color: $brand-danger;
	}
}
