@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ParticipantAttendance {
	text-align: center;
	padding: 5px 0;

	@include media-breakpoint-up(lg) {
		padding: 5px .25rem;
	}

	.fa {
		font-size: 1.5rem;
	}
	.fa-check {
		color: $success;
	}
	.fa-question {
		color: $warning;
	}
	.fa-times {
		color: $danger;
	}
}
