@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

.DayVisibilitySelector {
	.btn {
		padding: .25rem .5rem;
		margin: .25rem 0;
	}

	@include media-breakpoint-up(lg) {
		.btn {
			padding: .5rem 1rem;
			margin: 0;
		}
	}
}
