@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

.Participant {
	width: 3rem;
	min-width: 3rem;
	line-height: 3;
	text-align: left;
	overflow: hidden;
	display: inline-block;

	> span {
		display: inline-block;
		white-space: nowrap;
		transform: translate(0, 100%) rotate(-90deg);
		transform-origin: 0 0;

		&:after {
			content: "";
			float: left;
			margin-top: 100%;
		}
	}
}
