@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';

.Participant {
	width: 3rem;
	line-height: 3;
	text-align: left;

	> span {
		display: inline-block;
		white-space: nowrap;
		transform: translate(0, 100%) rotate(-90deg);
		transform-origin: 0 0;

		&:after {
			content: "";
			float: left;
			margin-top: 100%;
		}
	}
}

.MeetingTable:not(.more-than-8) .Participant {
	@media (min-width: breakpoint-min(lg, $grid-breakpoints)){
		@include make-col(1, 12);
		text-align: center;
		padding: 6px .25rem;
		width: auto;
		line-height: inherit;

		> span {
			transform: none;

			&:after {
				display: none;
			}
		}
	}
}
