$brand-warning: #f0da48;

@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_button-group';

.AttendanceSelector {
	@mixin btn-type($base-color) {
		$color: mix($base-color, $gray-lighter, 30%);
		background: $color;
		border-color: $color;

		&:not([disabled]):hover {
			background: $base-color;
			border-color: $base-color;
		}
	}

	min-width: 115px;
	border: 2px solid transparent;

	.btn {
		padding: .25rem .5rem;
		margin: .25rem 0;
	}

	@include media-breakpoint-up(lg) {
		.btn {
			padding: .5rem 1rem;
			margin: 0;
		}
	}

	.btn.inactive {
		&.btn-success {
			@include btn-type($brand-success);
		}
		&.btn-warning {
			@include btn-type($brand-warning);
		}
		&.btn-danger {
			@include btn-type($brand-danger);
		}
	}
}

.error-no-answers .AttendanceSelector.not-selected {
	border-color: $brand-danger;
	border-radius: .5rem;
}
