@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 14px;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

.navbar {
  margin-bottom: 1rem;
}
