@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.participants {
	vertical-align: bottom;

	p {
		text-align: right;
		margin-bottom: 0;
		padding: 3px 0 6px;
	}
	.title {
		width: 7rem;
		padding-bottom: 12px;
		text-align: right;

		@include media-breakpoint-up(lg) {
			width: 11rem;
		}
	}
	.attendance {
		width: 8rem;
		margin-left: 7rem;
		padding: 0 .25rem 4px .5rem;

		@include media-breakpoint-up(lg) {
			width: 12rem;
			margin-left: 11rem;
			padding: 0 1rem 4px;
		}
	}

	.participant {
		writing-mode: vertical-lr;
		-ms-writing-mode: tb-rl;
		transform: rotate(180deg);
		width: 40px;
	}
}
