@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.meeting-schedule {
	.legend {
		font-size: 1.2rem;
		text-align: right;
		padding: 0 5px;
	}
	> .btn.btn-block {
		@include make-col(3, 12);
		@include make-col-offset(3, 12);
	}
	.select-days {
		> p {
			line-height: 1.8rem;
		}
	}
	.form-group {
		clear: both;
	}
}
